<section class="card text-center">
      <div class="card-body">
        <h1>Welcome Back💌!</h1>
        <form id="signin-form">
            <label>
            Email:
                <input type="text" name="email" placeholder="email" />
            </label>
            <label>
            Password:
            <input type="password" name="password" placeholder="password" />
            </label>
                <button>Login!</button><br>
                <a href="/signup">Signup instead</a>
        </form>
        </div>
</section>
<script src="/js/login.js"></script>