<h1>Signup</h1>

<form id="signup-form">
    <label>
        Name:
        <input type="text" name="name" placeholder="Name" />
    </label>
     <label>
        Email:
        <input type="text" name="email" placeholder="email@email.com" />
    </label>
     <label>
        Password:
        <input type="password" name="password" placeholder="mySecred" />
    </label>
    <input type="submit">
</form>
<script src="/js/signup.js"></script>