@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900);
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

a {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: orangered;
  }
  
header, .po:not(:last-child):not(:last-child) {
    border-bottom: 1px solid violet;
  }
  
  h1, h2, h3 {
    font-weight: 900;
}

ul {
    list-style: none;
}

h1 {
    margin: 30px 0;
    text-align: center;
    color: blueviolet
}

  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: purple;
    text-decoration: none;
    font-size: 100%;
}


.no-button:hover {
    color: orange;
    text-decoration: underline;
}

body {
    font-size: 100%;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 50px;
    background-color: white;
}


.card-title {
    background-color: #355C7D;
    color: white;
    padding: 5px;
}

.card {
    background-color: azure;
}

.card h5, .card p {
    color: black;
    font-style: normal;
}

button {
    padding: 3px;
    margin: 5px;
}

#newpost {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#content, #editedContent {
    margin-left: 10vw;
    margin-right: 10vw;
}

#create, #update, #delete {
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 20px;
}

#comment {
width: 80vw;
margin-top:20px;
}

#title, #editedTitle {
    width: 80vw;
}